@model Student

<h2>Create Student</h2>

<form method="post">

    <label>Name</label>
    <input asp-for="Name" />

    <label>Email</label>
    <input asp-for="Email" />

    <button type="submit">Save</button>

</form>