@model List<Subject>

<h2>Subjects</h2>

<a href="/Subject/Create">Add Subject</a>

<table border="1">
    <tr>
        <th>Name</th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Name</td>
        </tr>
    }
</table>