@model WebApplication1.ViewModels.RegisterEnrollmentViewModel

<form asp-action="Regsiter" method="post">
<select asp-items=@(new SelectList(Model.Students,"StudentId","Name"))>
    <option value="">Select Student</option>
</select>

<select asp-items=@(new SelectList(Model.Courses, "CourseId", "Title"))>
    <option value="">Select course</option>
</select>

<input asp-for="RegistrationDate" />

<button type="submit">Save</button>
</form>